.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  text-align: center;
}

.card {
  margin: 60px auto;
  max-width: 600px;
  width: 100%;
}
