@import "media-queries";

.page {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 15px;

  @include mq($until: sm) {
    padding: 0 10px;
  }
}
