.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.fieldsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controlsContainer {
  text-align: center;
  margin-top: 10px;
}

.button {
  margin: 15px auto 10px;

  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
