.container {
  background: #0099DA;
  border-bottom: 1px solid #5FBEF9;
  height: 80px;
  flex: 0 0 50px;
}

.innerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  max-width: 1170px;
  margin: 0 auto;
}
