.container {
    max-width: 500px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    margin: 40px auto;
    padding: 25px;
    min-width: 200px;
}

.innerWrapper {
  max-width: 450px;
  margin: auto;
}

.titleContainer {
  padding-top: 25px;
  text-align: center;
}

.title {
  margin: 0;
}
