.container {
  margin: 0 auto;
  max-width: 1170px;
}

.title {
  text-align: center;
}

.actions {
  display: flex;
  width: auto;
}

.button {
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}
