@import "../../../styles/variables";

.container {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  margin-left: auto;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  transition: all 0.25s ease;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    transition: transform 0.4s 0.1s ease;
    height: 3px;
    background: $secondary;
    transform: scale(0);
  }

  &:not(:last-of-type) {
    margin-right: 25px;
  }

  &:hover {
    color: $secondary;

    &:after {
      transform: none;
    }
  }
}
