.container {
  margin: 0 auto;
  max-width: 450px;
  background: #FFF;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.05);
}

.field {
  margin: 0 auto 30px;
}

.buttonSubmit {
  margin-top: 40px;
}
