.footer {
  flex: 0 0 20px;
  margin-top: auto;
  background: #4C4C4C;
  color: #FFF;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 0;

  @media (max-width: 600px) {
    flex-basis: 10px;
  }
}
